.home{
     
    top: 50%;
    left: 50%;
    display: block;
    color: white;
 
}

.error-div{
    display: block;
    margin-right: auto;
    margin-left: auto;
    
    text-align: center;
    font-weight: bold;
    color: red;
    font-size: 20px;
}
.home-none{
    display: none;
}

.image-compo{
    text-align: center;
    display: block;
    
}

p{
    font-size: 50px;
}

@media (max-width: 414px) {

    .image-compo p{
        margin-top: 20px;
        font-size: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    
    }
    .error-div{
        margin-top: 10px;
    }

    .error-div p{
        font-size: 20px;
    }
    
    .home{
        margin-top: 0px;
        display: block;
        width: 250;
    }
    
}
