@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');

.Logo-container{
  
   width : 600px;
   position: absolute;
   left: 50%;
   transform: translate(-50%);
   text-align: center;
   margin-top: 30px;
}

