body {
	width: 100%;
	height: 100vh;

	background: linear-gradient(
		-45deg,
		#0b485b 10%,
		#f56217 10% 20%,
		#2196f3 20% 30%,
		#f44336 30% 40%,
		#0b485b 40% 50%,
		#f56217 50% 60%,
		#2196f3 60% 70%,
		#f44336 70% 80%
	);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
	font-family: 'open sans';
}

#greet {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	color: white;
	text-align: center;
}

#greet img {
	height: 500px;
	width: auto;
	padding-bottom: 10px;
	cursor: pointer;
}

#greet > h1 {
	cursor: pointer;
}
.display {
	display: none !important;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@media (max-width: 414px) {
	#greet {
		text-align: center;
		margin-top: 100px;
	}
	#greet h1 {
		font-size: 30px;
	}

	#greet img {
		height: 200px;
		width: auto;
		padding-bottom: 10px;
	}
}

@media (max-width: 375px) {
	#greet {
		text-align: center;
		margin-top: 100px;
	}
	#greet h1 {
		font-size: 25px;
	}

	#greet img {
		height: 200px;
		width: auto;
		padding-bottom: 10px;
	}
}
